@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @*   @if (SignInManager.IsSignedIn(User))

        {
        @if (User.IsInRole("Provider"))
        {
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Index">Account</a>
        </li>
        }
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
        </li>
        }

        else

        {
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        }*@
    @*<div class="container">*@
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown">
            <button class="btn  dropdown-toggle" style="background-color:none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </button>

            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">

                <a class="nav-link text-dark nav-link_color" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                @*@if (User.IsInRole("Provider"))*@
                
                <a class="nav-link text-dark nav-link_color" asp-area="" asp-page="/Account/Index">Dashboard</a>
                

        <form class="form-inline "  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="nav-link nav-link_color btn btn-link text-dark">Logout</button>
        </form>
        </div>
        </div>
    }
    else
    {
        <div class="dropdown">
            <button class="btn  dropdown-toggle" style="background-color:none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <a class="nav-link text-dark nav-link_color" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="nav-link text-dark nav-link_color" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
        </div>
    }

    @*</div>*@
</ul>

<style>
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
    .nav-link_color:hover{
        background-color: rgb(0 0 0 / 10%);
    }

    .dropdown > .dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
</style>