@page
@model ServiceProject3.Pages.Account.IndexModel
@{
}

    

 <div class="card_containerx">
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/service_1_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Services/Index" class="titlex_a">Services</a></h1>
                <h3 class="valuex">@Model.Service.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="students.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"> Title</h1>
                <h3 class="valuex">124</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="students.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"> Title</h1>
                <h3 class="valuex">124</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="students.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"> Title</h1>
                <h3 class="valuex">124</h3>
            </div>
        </div>
    </div>

<style>
    @@media screen and (max-width: 536px)
{
    .card_containerx {
        justify-content: center;
        /*background-color: aqua;*/
        padding: 0px;
    }
}
.card_containerx{
    display: flex;
    /* background-color: aqua   ; */
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 20px 15px;
    align-items: center;
}
.cardx{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 230px;
    height: 130px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.cardx:hover{
    background-color: rgb(0 0 0 / 10%);
}

.vectorx{
    margin-top: 30px;
    margin-left: 8px;
    margin-right: 6px;
    margin-bottom: 30px;
    flex: 0.1;
}
.contentx{
    margin-top: 30px;
    /* margin-bottom: 30px; */
    flex: 0.7;
}
.titlex{
    color: #444;
    font-size: 180%!important;
    text-decoration: none;
}
.titlex_a{
    color: #444;
    font-size: 100%!important;
}
.titlex_a:hover{
    text-decoration: none;
}
.valuex{
    color: #999;
    font-size: 130%!important;
}

</style>